[submodule "Tests/googletest"]
	path = Tests/googletest
	url = https://github.com/google/googletest.git
[submodule "OSShim"]
	path = OSShim
	url = git@github.com:vacmg/PMW-OSShim.git
[submodule "Tests/LinuxOSShim"]
	path = Tests/LinuxOSShim
	url = git@github.com:vacmg/PMW-LinuxOSShim.git
